<!DOCTYPE html>
   <head>
      <title>Raspi Data </title>
      <link rel="stylesheet" href='../static/style.css'/>
      <meta http-equiv="refresh" content="5" >
   </head>
   <body>
	<h1>Raspi Data </h1>
	<h3> TEMPERATURE   ==>  {{ temp }} °C</h3>
	<h3> HUMIDITY (Rel.) ==>  {{ hum }} %</h3>
    <h3> VOLTS (Core) ==>  {{ voltage }} V</h3>
	<hr>
	<h4> Last Sensors Reading: {{ time }} <!a href="/"class="button"><!/a></h3>	
	<hr>
   </body>
</html>
